node-red/flows.json
[
    {
        "id": "7d7b30a8.5bc2b",
        "type": "tab",
        "label": "LED test flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f9e6941.9f5df68",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c1c06219.7371",
        "type": "tab",
        "label": "Music Player - v1.0.0",
        "disabled": false,
        "info": "v1.0.0 - first public release"
    },
    {
        "id": "6a5d7cb.ff81384",
        "type": "tab",
        "label": "Music Engine",
        "disabled": false,
        "info": ""
    },
    {
        "id": "224d605b.c4bd28",
        "type": "tab",
        "label": "Player Controls",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1e4469c9.e848f6",
        "type": "tab",
        "label": "shutdown",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b0d2fcdd.369d6",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "ce52a348.41d78",
        "type": "ui_group",
        "name": "Chart",
        "tab": "b0d2fcdd.369d6",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "e2995cd7.b9add",
        "type": "ui_group",
        "name": "now playing",
        "tab": "3aff5f59.0a6d88",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bcdf1bbc.f314e",
        "type": "ui_group",
        "name": "volume control",
        "tab": "3aff5f59.0a6d88",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "85720886.d08da",
        "type": "ui_group",
        "name": "play controls",
        "tab": "3aff5f59.0a6d88",
        "order": 3,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "acb5989b.bc373",
        "type": "ui_group",
        "name": "Shutdown Pi control",
        "tab": "3aff5f59.0a6d88",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3aff5f59.0a6d88",
        "type": "ui_tab",
        "name": "Music Controls",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "740a99d2.b07d1",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "startBlink",
        "func": "var BLINKDELAY = 250;\n\nvar light = true;\n\n\nvar blinker = setInterval(blink, BLINKDELAY);\n\nglobal.set(\"blinker\", blinker);\n\nfunction blink () {\n    \n    if (light) {\n        msg.payload = 1;\n        light = false;\n    }\n    \n    else {\n        msg.payload = 0;\n        light = true;\n    }\n    \n    node.send(msg);\n}\n\n\nreturn;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "41b167bc.bbffc"
            ]
        ]
    },
    {
        "id": "73f5f278.0231bc",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "pressme",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 204,
        "y": 200,
        "wires": [
            [
                "740a99d2.b07d1"
            ]
        ]
    },
    {
        "id": "41b167bc.bbffc",
        "type": "rpi-gpio out",
        "z": "7d7b30a8.5bc2b",
        "name": "Simple LED",
        "pin": "11",
        "set": false,
        "level": "0",
        "freq": "1000",
        "out": "pwm",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "cc1b11b1.bebb28",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "stopBlink",
        "func": "clearInterval(global.get(\"blinker\"));\n\nmsg.payload = 0;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 260,
        "wires": [
            [
                "41b167bc.bbffc"
            ]
        ]
    },
    {
        "id": "5db82a6c.1b547c",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "pressme",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 195,
        "y": 261,
        "wires": [
            [
                "cc1b11b1.bebb28"
            ]
        ]
    },
    {
        "id": "684e2449.974414",
        "type": "rpi-gpio in",
        "z": "7d7b30a8.5bc2b",
        "name": "PIR sensor",
        "pin": "36",
        "intype": "tri",
        "debounce": "25",
        "read": true,
        "x": 180,
        "y": 540,
        "wires": [
            [
                "f60b971f.d72818",
                "41b167bc.bbffc",
                "b12eb4c7.8746d",
                "edf9809c.5c166",
                "20d35e60.b0f65a"
            ]
        ]
    },
    {
        "id": "38a9dec0.2999f2",
        "type": "comment",
        "z": "7d7b30a8.5bc2b",
        "name": "LED control",
        "info": "",
        "x": 190,
        "y": 140,
        "wires": []
    },
    {
        "id": "f60b971f.d72818",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "c176f953.9e71b8",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "on",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 190,
        "y": 340,
        "wires": [
            [
                "41b167bc.bbffc"
            ]
        ]
    },
    {
        "id": "97f7256a.4ea5e8",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "off",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "41b167bc.bbffc"
            ]
        ]
    },
    {
        "id": "82428d88.c2784",
        "type": "comment",
        "z": "7d7b30a8.5bc2b",
        "name": "PIR check",
        "info": "",
        "x": 180,
        "y": 460,
        "wires": []
    },
    {
        "id": "30e73299.7e539e",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "Invert and split",
        "func": "\nreturn [\n    //need to invert for LED (maybe not here)\n    {payload:255 - msg.payload.r},\n    {payload:255 - msg.payload.g},\n    {payload:255 - msg.payload.b}\n];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 420,
        "y": 820,
        "wires": [
            [
                "b06ef87a.2ecd18"
            ],
            [
                "3532ded.ea45f22"
            ],
            [
                "813aa6c7.4faa58"
            ]
        ]
    },
    {
        "id": "813aa6c7.4faa58",
        "type": "range",
        "z": "7d7b30a8.5bc2b",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "B",
        "x": 610,
        "y": 860,
        "wires": [
            [
                "3a344f73.a341b",
                "843e8dab.baebc"
            ]
        ]
    },
    {
        "id": "3532ded.ea45f22",
        "type": "range",
        "z": "7d7b30a8.5bc2b",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "G",
        "x": 610,
        "y": 820,
        "wires": [
            [
                "3bfc15b3.af5d12",
                "96ad2af9.ebb138"
            ]
        ]
    },
    {
        "id": "b06ef87a.2ecd18",
        "type": "range",
        "z": "7d7b30a8.5bc2b",
        "minin": "0",
        "maxin": "255",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "R",
        "x": 610,
        "y": 780,
        "wires": [
            [
                "5f036011.4248c8",
                "43b79720.9de288"
            ]
        ]
    },
    {
        "id": "843e8dab.baebc",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 870,
        "y": 920,
        "wires": []
    },
    {
        "id": "96ad2af9.ebb138",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1030,
        "y": 820,
        "wires": []
    },
    {
        "id": "43b79720.9de288",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 870,
        "y": 740,
        "wires": []
    },
    {
        "id": "3bfc15b3.af5d12",
        "type": "rpi-gpio out",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "x": 860,
        "y": 820,
        "wires": []
    },
    {
        "id": "5f036011.4248c8",
        "type": "rpi-gpio out",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "x": 860,
        "y": 780,
        "wires": []
    },
    {
        "id": "3a344f73.a341b",
        "type": "rpi-gpio out",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "pwm",
        "x": 860,
        "y": 860,
        "wires": []
    },
    {
        "id": "dcd87b79.2108e8",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "on",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 450,
        "y": 720,
        "wires": [
            [
                "5f036011.4248c8",
                "3bfc15b3.af5d12",
                "3a344f73.a341b"
            ]
        ]
    },
    {
        "id": "c334952d.1e9208",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "off",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 450,
        "y": 980,
        "wires": [
            [
                "5f036011.4248c8",
                "3bfc15b3.af5d12",
                "3a344f73.a341b"
            ]
        ]
    },
    {
        "id": "70e589e9.da3a",
        "type": "comment",
        "z": "7d7b30a8.5bc2b",
        "name": "RGB control",
        "info": "",
        "x": 90,
        "y": 640,
        "wires": []
    },
    {
        "id": "1e562453.9b452c",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "adjust to rbg led",
        "func": "let local_pir = msg.payload[\"pi/36\"]\nlet net = msg.payload[\"network\"]\n\nlet red=0\nlet green=0\nlet blue=0\n\n//compute rgb values\nif (local_pir == 1) {\n  if (net == 1){\n      red = 255;\n      green = 255;\n      blue = 255;\n  }\n  else {\n      red = 255\n  }\n}\nelse if (net==1){\n    blue = 255\n}\n\n\n//return RGB values\nreturn {payload: {r: red,b: blue, g:green}}\n\n\n//return {payload: (1 - local_pir)*100};\n//invert",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 660,
        "wires": [
            [
                "30e73299.7e539e"
            ]
        ]
    },
    {
        "id": "98176dee.b10b1",
        "type": "comment",
        "z": "7d7b30a8.5bc2b",
        "name": "Test",
        "info": "",
        "x": 770,
        "y": 460,
        "wires": []
    },
    {
        "id": "664573f7.d49c24",
        "type": "tcp in",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "server": "server",
        "host": "",
        "port": "55555",
        "datamode": "stream",
        "datatype": "buffer",
        "newline": "",
        "topic": "network",
        "base64": false,
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "df2da042.662a1",
                "b12eb4c7.8746d"
            ]
        ]
    },
    {
        "id": "3906c54c.da9f22",
        "type": "comment",
        "z": "7d7b30a8.5bc2b",
        "name": "Listen on port",
        "info": "",
        "x": 130,
        "y": 1040,
        "wires": []
    },
    {
        "id": "df2da042.662a1",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1120,
        "wires": []
    },
    {
        "id": "20d35e60.b0f65a",
        "type": "tcp out",
        "z": "7d7b30a8.5bc2b",
        "host": "add IP",
        "port": "55555",
        "beserver": "client",
        "base64": false,
        "end": false,
        "name": "",
        "x": 390,
        "y": 1280,
        "wires": []
    },
    {
        "id": "b12eb4c7.8746d",
        "type": "join",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 290,
        "y": 660,
        "wires": [
            [
                "1e562453.9b452c",
                "79344d4c.593544"
            ]
        ]
    },
    {
        "id": "79344d4c.593544",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 580,
        "wires": []
    },
    {
        "id": "95f32362.be46b",
        "type": "inject",
        "z": "7d7b30a8.5bc2b",
        "name": "Get IPs",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 130,
        "y": 1480,
        "wires": [
            [
                "13b0ffe6.347ac"
            ]
        ]
    },
    {
        "id": "cfe97850.9c6638",
        "type": "exec",
        "z": "7d7b30a8.5bc2b",
        "command": "sudo batctl dc",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 160,
        "y": 1600,
        "wires": [
            [
                "503aa18.be17e6"
            ],
            [],
            []
        ]
    },
    {
        "id": "503aa18.be17e6",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "Extract IPs from output",
        "func": "var ip_lines = msg.payload.split('\\n');\nip_lines.splice(0,3);\nip_lines.pop();\n\nvar ips= [];\nfor (i = 0; i < ip_lines.length; i++) {\n    var ip = ip_lines[i];\n    ip = ip.split('.');\n    if (ip.length != 4 ){ // sanity check\n        node.error(\"Input from batctl could not be parsed: \" + ip.join('.'));\n        continue\n    }\n    ip[0] = ip[0].replace(/\\D/g,''); // remove non digits from first element in array\n    ip[3] = ip[3].split(' ')[0]; // remove mac adress\n    ip = ip.join('.');\n    ips.push(ip);\n}\nmsg.ips = ips;\nmsg.topic = \"ip_addresses\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 180,
        "y": 1660,
        "wires": [
            [
                "1f336213.81595e"
            ]
        ]
    },
    {
        "id": "983d5af.c2a63a8",
        "type": "debug",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 1820,
        "wires": []
    },
    {
        "id": "edf9809c.5c166",
        "type": "join",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 350,
        "y": 1380,
        "wires": [
            [
                "4acef986.d22658"
            ]
        ]
    },
    {
        "id": "4acef986.d22658",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "Send to all IPs",
        "func": "let motion = msg.payload[\"pi/36\"];\nlet addresses = msg.payload[\"ip_addresses\"];\n\nfor (ip of addresses){\n    msg = {host: ip, payload: motion };\n    node.send(motion);\n}\n\n//return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 520,
        "y": 1380,
        "wires": [
            [
                "d72e01c0.3db6c8"
            ]
        ]
    },
    {
        "id": "d72e01c0.3db6c8",
        "type": "tcp request",
        "z": "7d7b30a8.5bc2b",
        "server": "",
        "port": "55555",
        "out": "time",
        "splitc": "0",
        "name": "",
        "x": 700,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "13b0ffe6.347ac",
        "type": "exec",
        "z": "7d7b30a8.5bc2b",
        "command": "ping -c3 -b 169.254.255.255 && sleep 5",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Refresh batman table",
        "x": 180,
        "y": 1540,
        "wires": [
            [
                "cfe97850.9c6638"
            ],
            [],
            []
        ]
    },
    {
        "id": "1f336213.81595e",
        "type": "exec",
        "z": "7d7b30a8.5bc2b",
        "command": "ifconfig bat0 | grep -o \"inet [0-9]*\\.[0-9]*\\.[0-9]*\\.[0-9]*\" | grep -o \"[0-9]*\\.[0-9]*\\.[0-9]*\\.[0-9]*\"",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "get my own IP",
        "x": 160,
        "y": 1720,
        "wires": [
            [
                "600f1f97.226c4"
            ],
            [],
            []
        ]
    },
    {
        "id": "600f1f97.226c4",
        "type": "function",
        "z": "7d7b30a8.5bc2b",
        "name": "strip my ip from batctl output",
        "func": "var my_ip = msg.payload\nvar ip_arr = msg.ips;\n\n//Filter out newline from shell command result\nmy_ip = my_ip.replace(/(\\r\\n|\\n|\\r)/gm, \"\"); \n\nip_arr = ip_arr.filter(e => e !== my_ip);\n\nmsg.payload = ip_arr\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 200,
        "y": 1780,
        "wires": [
            [
                "983d5af.c2a63a8",
                "edf9809c.5c166"
            ]
        ]
    },
    {
        "id": "e5d9eb.0eb01618",
        "type": "ui_colour_picker",
        "z": "7d7b30a8.5bc2b",
        "name": "",
        "label": "Pick a color",
        "group": "ce52a348.41d78",
        "format": "rgb",
        "outformat": "object",
        "showSwatch": false,
        "showPicker": true,
        "showValue": false,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "true",
        "order": 0,
        "width": "10",
        "height": "5",
        "passthru": true,
        "topic": "",
        "x": 90,
        "y": 820,
        "wires": [
            [
                "30e73299.7e539e"
            ]
        ]
    },
    {
        "id": "4b35e8d9.9f3b88",
        "type": "PlaySound",
        "z": "f9e6941.9f5df68",
        "name": "",
        "playerOptions": "{}",
        "audioURI": "/home/pi/Downloads/rotation.mp3",
        "options": "{}",
        "x": 400,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "7e9ab8a.2833748",
        "type": "inject",
        "z": "f9e6941.9f5df68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "stop",
        "payloadType": "str",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "4b35e8d9.9f3b88"
            ]
        ]
    },
    {
        "id": "c1178bba.400568",
        "type": "inject",
        "z": "f9e6941.9f5df68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "start",
        "payloadType": "str",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "4b35e8d9.9f3b88"
            ]
        ]
    },
    {
        "id": "1b4fe2c2.1beedd",
        "type": "inject",
        "z": "f9e6941.9f5df68",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "aa635f36.5dd64"
            ]
        ]
    },
    {
        "id": "aa635f36.5dd64",
        "type": "function",
        "z": "f9e6941.9f5df68",
        "name": "",
        "func": "msg.payload/=3;\nif (msg.payload>0) msg.payload+=66;\nmsg.payload+=\"%\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 320,
        "y": 400,
        "wires": [
            [
                "47bfdfed.deb56"
            ]
        ]
    },
    {
        "id": "47bfdfed.deb56",
        "type": "exec",
        "z": "f9e6941.9f5df68",
        "command": "amixer cset numid=1 --",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "Volume",
        "x": 500,
        "y": 400,
        "wires": [
            [
                "3f2b9239.d76b4e"
            ],
            [],
            []
        ]
    },
    {
        "id": "3f2b9239.d76b4e",
        "type": "debug",
        "z": "f9e6941.9f5df68",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 400,
        "wires": []
    },
    {
        "id": "9b2a50e4.6feb68",
        "type": "fs-ops-dir",
        "z": "c1c06219.7371",
        "name": "Get filenames from /home/pi/songs",
        "path": "/home/pi/songs",
        "pathType": "str",
        "filter": "*",
        "filterType": "str",
        "dir": "payload",
        "dirType": "msg",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "265e9470.f5b29c",
                "49883eac.45546"
            ]
        ]
    },
    {
        "id": "7c39a75f.a236f8",
        "type": "inject",
        "z": "c1c06219.7371",
        "name": "Enter the path to music folder here",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "/home/pi/songs",
        "payloadType": "str",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "44492279.72883c"
            ]
        ]
    },
    {
        "id": "265e9470.f5b29c",
        "type": "debug",
        "z": "c1c06219.7371",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 240,
        "wires": []
    },
    {
        "id": "ae9850d0.8bcc9",
        "type": "debug",
        "z": "c1c06219.7371",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "9647a584.97779",
        "type": "change",
        "z": "c1c06219.7371",
        "name": "set up global object songlist",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.songcount",
                "pt": "global",
                "to": "song_count",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "musicobj.songlist",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 360,
        "wires": [
            [
                "ae9850d0.8bcc9",
                "9f1b663a.5047"
            ]
        ]
    },
    {
        "id": "9f1b663a.5047",
        "type": "change",
        "z": "c1c06219.7371",
        "name": "set default volume",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "220",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 420,
        "wires": [
            [
                "ab252747.61a3"
            ]
        ]
    },
    {
        "id": "ab252747.61a3",
        "type": "link out",
        "z": "c1c06219.7371",
        "name": "to volume",
        "links": [
            "15dca399.f6aa14",
            "dc3283bb.92a"
        ],
        "x": 335,
        "y": 420,
        "wires": []
    },
    {
        "id": "44492279.72883c",
        "type": "change",
        "z": "c1c06219.7371",
        "name": "Set file path and musicobj global",
        "rules": [
            {
                "t": "set",
                "p": "fileURL",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "musicobj",
                "pt": "global",
                "to": "{\t   \"fileURL\"    : msg.fileURL,\t   \"audioURL\"   : msg.audioURL,\t   \"songcount\"  : 0,\t   \"songlist\"   : [],\t   \"songindex\"  : -1,\t   \"songtoplay\" : \"\",\t   \"action\"     : \"start\"     \t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 180,
        "wires": [
            [
                "9b2a50e4.6feb68",
                "66efbfa6.aa3508"
            ]
        ]
    },
    {
        "id": "66efbfa6.aa3508",
        "type": "debug",
        "z": "c1c06219.7371",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 180,
        "wires": []
    },
    {
        "id": "de6b36f6.388348",
        "type": "debug",
        "z": "c1c06219.7371",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 550,
        "y": 300,
        "wires": []
    },
    {
        "id": "9d3aeef1.4d61f8",
        "type": "comment",
        "z": "c1c06219.7371",
        "name": "ReadMe Music Player v1.0.0",
        "info": "This music player reads a folder (called 'songs') and will play the songs in alphabetical order. \nOnce all the songs have been played, it will restart the list. \n\nYou can Pause/Resume play, Skip to the next song, go to the previous song and stop playing any songs.\n\nThere is also a button to power off the Pi.\n\nI designed this to allow it to be controled by an iPhone by turning on\nthe iPhone's Personal hotspot. To access it this way, you need to add the iPhone Hotspot name\nand password to the wpa_supplicant.config file on the Pi. ",
        "x": 200,
        "y": 60,
        "wires": []
    },
    {
        "id": "49883eac.45546",
        "type": "change",
        "z": "c1c06219.7371",
        "name": "Get rid of hidden files and get count of songs",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[payload[$substring(0,1) != \".\"]]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "song_count",
                "pt": "msg",
                "to": "$count(payload)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 300,
        "wires": [
            [
                "9647a584.97779",
                "de6b36f6.388348"
            ]
        ]
    },
    {
        "id": "406e779c.6c7b78",
        "type": "PlaySound",
        "z": "6a5d7cb.ff81384",
        "name": "",
        "playerOptions": "{}",
        "audioURI": "",
        "options": "{}",
        "x": 730,
        "y": 300,
        "wires": [
            [
                "9124d974.eb418",
                "9534da70.b643d8"
            ]
        ]
    },
    {
        "id": "9124d974.eb418",
        "type": "debug",
        "z": "6a5d7cb.ff81384",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 910,
        "y": 300,
        "wires": []
    },
    {
        "id": "9104b8c9.663f4",
        "type": "catch",
        "z": "6a5d7cb.ff81384",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 180,
        "y": 380,
        "wires": [
            [
                "e6bb71ad.6c646"
            ]
        ]
    },
    {
        "id": "e6bb71ad.6c646",
        "type": "debug",
        "z": "6a5d7cb.ff81384",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 430,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb681c07.0df9f",
        "type": "switch",
        "z": "6a5d7cb.ff81384",
        "name": "Actions",
        "property": "musicobj.action",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "previous",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "end",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "start",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pause",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "resume",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 180,
        "y": 240,
        "wires": [
            [
                "3bd212ca.a6aee6"
            ],
            [
                "d15d4dae.7daef"
            ],
            [
                "d15d4dae.7daef"
            ],
            [
                "d15d4dae.7daef"
            ],
            [
                "b19fbd0.4ad1f4"
            ],
            [
                "b19fbd0.4ad1f4"
            ],
            [
                "b19fbd0.4ad1f4"
            ]
        ],
        "outputLabels": [
            "",
            "song ended",
            "",
            "",
            "",
            "",
            ""
        ]
    },
    {
        "id": "ed1057a7.128a78",
        "type": "ui_text",
        "z": "6a5d7cb.ff81384",
        "group": "e2995cd7.b9add",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "Display song name on dashboard",
        "label": "Now playing: ",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "986294f8.e1878",
        "type": "change",
        "z": "6a5d7cb.ff81384",
        "name": "Get song name - strip out \".wav.\"",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$globalContext(\"musicobj.songplaying\")",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$replace(payload, \".wav\", \"\")",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 240,
        "wires": [
            [
                "ed1057a7.128a78"
            ]
        ]
    },
    {
        "id": "15dca399.f6aa14",
        "type": "link in",
        "z": "6a5d7cb.ff81384",
        "name": "Check Action",
        "links": [
            "6c3cbc3d.d183f4",
            "8a62210b.718a",
            "a86ea6df.2170a8",
            "ab252747.61a3",
            "53ea45ee.eda144",
            "290be014.9360c8"
        ],
        "x": 75,
        "y": 240,
        "wires": [
            [
                "eb681c07.0df9f"
            ]
        ]
    },
    {
        "id": "6c3cbc3d.d183f4",
        "type": "link out",
        "z": "6a5d7cb.ff81384",
        "name": "",
        "links": [
            "15dca399.f6aa14"
        ],
        "x": 895,
        "y": 380,
        "wires": []
    },
    {
        "id": "3bd212ca.a6aee6",
        "type": "change",
        "z": "6a5d7cb.ff81384",
        "name": "Get prior song ",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.songindex",
                "pt": "global",
                "to": "$globalContext(\"musicobj.songindex\") - 1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "musicobj.songindex",
                "pt": "global",
                "to": "($globalContext(\"musicobj.songindex\")  >= 0)  ?  $globalContext(\"musicobj.songindex\") : $globalContext(\"musicobj.songcount\") - 1\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "song_name",
                "pt": "msg",
                "to": "$globalContext(\"musicobj.songlist\")[$globalContext(\"musicobj.songindex\")]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "play",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "musicobj.songplaying",
                "pt": "global",
                "to": "song_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "audioURI",
                "pt": "msg",
                "to": "\"/home/pi/songs/\"&song_name",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "{\"afplay\": [ \"-r\", 0.5, \"-t\", 2.5, \"-v\", 1 ], \"mplayer\": [ \"-volume\", 1 ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "986294f8.e1878",
                "406e779c.6c7b78"
            ]
        ]
    },
    {
        "id": "d15d4dae.7daef",
        "type": "change",
        "z": "6a5d7cb.ff81384",
        "name": "get next song",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.songindex",
                "pt": "global",
                "to": "($globalContext(\"musicobj.songindex\")+1) > ($globalContext(\"musicobj.songcount\")-1) ? 0 : $globalContext(\"musicobj.songindex\")+1",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "song_name",
                "pt": "msg",
                "to": "$globalContext(\"musicobj.songlist\")[$globalContext(\"musicobj.songindex\")]",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "play",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "musicobj.songplaying",
                "pt": "global",
                "to": "song_name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "audioURI",
                "pt": "msg",
                "to": "\"/home/pi/songs/\"&song_name\t",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "start",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "{\"afplay\": [ \"-r\", 0.5, \"-t\", 2.5, \"-v\", 1 ], \"mplayer\": [ \"-volume\", 1 ] }",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 240,
        "wires": [
            [
                "406e779c.6c7b78",
                "986294f8.e1878"
            ]
        ]
    },
    {
        "id": "9534da70.b643d8",
        "type": "change",
        "z": "6a5d7cb.ff81384",
        "name": "set global action",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 380,
        "wires": [
            [
                "6c3cbc3d.d183f4"
            ]
        ]
    },
    {
        "id": "b19fbd0.4ad1f4",
        "type": "change",
        "z": "6a5d7cb.ff81384",
        "name": "set action",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "musicobj.action",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 280,
        "wires": [
            [
                "406e779c.6c7b78"
            ]
        ]
    },
    {
        "id": "fd46bb5c.00a54",
        "type": "comment",
        "z": "6a5d7cb.ff81384",
        "name": "send response from playsound back to actions",
        "info": "",
        "x": 840,
        "y": 340,
        "wires": []
    },
    {
        "id": "8767759.079d608",
        "type": "comment",
        "z": "6a5d7cb.ff81384",
        "name": "send response from playsound back to actions",
        "info": "",
        "x": 300,
        "y": 160,
        "wires": []
    },
    {
        "id": "2bc0f655.2eaa92",
        "type": "comment",
        "z": "6a5d7cb.ff81384",
        "name": "Watch for unexpected errors",
        "info": "",
        "x": 240,
        "y": 340,
        "wires": []
    },
    {
        "id": "c1f6639f.eaecb8",
        "type": "comment",
        "z": "6a5d7cb.ff81384",
        "name": "This is the music engine processing all the buttons",
        "info": "",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "39c0a9b7.b854de",
        "type": "exec",
        "z": "224d605b.c4bd28",
        "command": "amixer cset numid=1 ",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 200,
        "wires": [
            [
                "5efa42e0.af4104"
            ],
            [
                "6316927a.17de7c"
            ],
            [
                "749374ae.cb1e3c"
            ]
        ]
    },
    {
        "id": "5efa42e0.af4104",
        "type": "debug",
        "z": "224d605b.c4bd28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "6316927a.17de7c",
        "type": "debug",
        "z": "224d605b.c4bd28",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "749374ae.cb1e3c",
        "type": "debug",
        "z": "224d605b.c4bd28",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 730,
        "y": 240,
        "wires": []
    },
    {
        "id": "575f4365.4c3e04",
        "type": "ui_slider",
        "z": "224d605b.c4bd28",
        "name": "Volume",
        "label": "",
        "tooltip": "",
        "group": "bcdf1bbc.f314e",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": "118",
        "max": "235",
        "step": 1,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "1ccf7602.3d40da"
            ]
        ]
    },
    {
        "id": "1ccf7602.3d40da",
        "type": "trigger",
        "z": "224d605b.c4bd28",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "nul",
        "op2type": "payl",
        "duration": "250",
        "extend": true,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "outputs": 1,
        "x": 200,
        "y": 200,
        "wires": [
            [
                "39c0a9b7.b854de",
                "575f4365.4c3e04",
                "def17d.2b9ca68"
            ]
        ]
    },
    {
        "id": "def17d.2b9ca68",
        "type": "range",
        "z": "224d605b.c4bd28",
        "minin": "118",
        "maxin": "235",
        "minout": "0",
        "maxout": "10",
        "action": "clamp",
        "round": true,
        "property": "payload",
        "name": "",
        "x": 170,
        "y": 260,
        "wires": [
            [
                "30fe44e.5a143bc"
            ]
        ]
    },
    {
        "id": "30fe44e.5a143bc",
        "type": "ui_level",
        "z": "224d605b.c4bd28",
        "group": "bcdf1bbc.f314e",
        "order": 3,
        "width": "6",
        "height": "2",
        "name": "UI_Level",
        "label": "",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": 0,
        "max": "10",
        "segWarn": "",
        "segHigh": "",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "reactive",
        "shape": "3",
        "colorschema": "rainbow",
        "x": 400,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e20f800.472658",
        "type": "ui_text",
        "z": "224d605b.c4bd28",
        "group": "bcdf1bbc.f314e",
        "order": 1,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Volume",
        "format": "",
        "layout": "col-center",
        "x": 180,
        "y": 100,
        "wires": []
    },
    {
        "id": "dc3283bb.92a",
        "type": "link in",
        "z": "224d605b.c4bd28",
        "name": "volume",
        "links": [
            "ab252747.61a3",
            "b4a40821.1094d8"
        ],
        "x": 55,
        "y": 140,
        "wires": [
            [
                "575f4365.4c3e04"
            ]
        ]
    },
    {
        "id": "d1d0c70e.6e9f9",
        "type": "ui_template",
        "z": "224d605b.c4bd28",
        "group": "85720886.d08da",
        "name": ">>",
        "order": 3,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#2980b9\"   ng-click=\"send({payload: 'Hello World big blue'})\"> \n    >>\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 150,
        "y": 576,
        "wires": [
            [
                "2af0686d.edca5",
                "beb45749.39c7"
            ]
        ]
    },
    {
        "id": "3ecd7c9e.1cfa74",
        "type": "ui_template",
        "z": "224d605b.c4bd28",
        "group": "85720886.d08da",
        "name": "<<",
        "order": 1,
        "width": "2",
        "height": "2",
        "format": "\n<md-button class=\"vibrate filled touched bigfont rounded\" style=\"background-color:#c0392b\" ng-click=\"send({payload: 'Hello World big red'})\"> \n   &lt;&lt;\n</md-button> \n\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 150,
        "y": 416,
        "wires": [
            [
                "ecc9799d.720eb8",
                "2af0686d.edca5"
            ]
        ]
    },
    {
        "id": "89e52406.0e0358",
        "type": "ui_template",
        "z": "224d605b.c4bd28",
        "group": "85720886.d08da",
        "name": "Play/Pause",
        "order": 2,
        "width": "2",
        "height": "2",
        "format": "<md-button class=\"filled touched bigfont rounded vibrate\" \n    style=\"background-color:#27ae60\" \n    ng-click=\"send({payload:1})\" > \n   Play/<br/>Pause\n</md-button> \n",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 170,
        "y": 496,
        "wires": [
            [
                "1f595443.16ff64"
            ]
        ]
    },
    {
        "id": "f9c772d0.33f17",
        "type": "ui_template",
        "z": "224d605b.c4bd28",
        "group": "85720886.d08da",
        "name": "Styling for player buttons",
        "order": 5,
        "width": "6",
        "height": "1",
        "format": "<style>\n  .filled { \n      height: 100% !important;\n\n      padding: 0 !important;\n      margin: 0 !important;\n  }\n  .nr-dashboard-template {\n      padding: 0;\n      margin: 0;\n  }\n  \n  .rounded {\n  border-radius: 12px 12px 12px 12px;\n}\n \n   .bigfont {\n  font-size: 18px;\n}\n\n   .smallfont {\n  font-size: 12px;\n}\n  \n</style>\n\n<script>\n$('.vibrate').on('click', function() {\n  navigator.vibrate(100);\n});\n\nfunction restore_bg(x) {\n            $(this).css(\"background-color\", x);\n    };\n\n$('.touched').on('mousedown', function() {\n    \n    var x= $(this).css(\"background-color\");\n    $(this).css(\"background-color\", \"yellow\");\n    \n    setTimeout(restore_bg.bind(this,x),100);\n    navigator.vibrate(80);\n    });\n    \n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 590,
        "y": 376,
        "wires": [
            []
        ]
    },
    {
        "id": "7c0c9248.2416ac",
        "type": "change",
        "z": "224d605b.c4bd28",
        "name": "pause",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "pause",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "pause",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 476,
        "wires": [
            [
                "290be014.9360c8"
            ]
        ]
    },
    {
        "id": "290be014.9360c8",
        "type": "link out",
        "z": "224d605b.c4bd28",
        "name": "Play/pause",
        "links": [
            "15dca399.f6aa14"
        ],
        "x": 675,
        "y": 496,
        "wires": []
    },
    {
        "id": "d15fc5f7.c602a8",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "Stop",
        "info": "",
        "x": 150,
        "y": 616,
        "wires": []
    },
    {
        "id": "82bd4df7.1b63f8",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "Previous Song",
        "info": "",
        "x": 180,
        "y": 376,
        "wires": []
    },
    {
        "id": "5ee5be59.84e6b8",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "Play/Pause sound",
        "info": "This section handles the Play/Pause switch.\n\nWhen a song is selected (above) the song is started and then\nimmediately paused. Because of this, 'play' is actually 'resume'.\n\nAt startup, the global that holds the play/pause value is empty\nso it defaults to \nWhen the button is pressed, ",
        "x": 190,
        "y": 456,
        "wires": []
    },
    {
        "id": "ca4426f4.fece4",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "Next Song",
        "info": "",
        "x": 160,
        "y": 536,
        "wires": []
    },
    {
        "id": "a7d29f70.ac458",
        "type": "ui_button",
        "z": "224d605b.c4bd28",
        "name": "",
        "group": "85720886.d08da",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "1",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 656,
        "wires": [
            [
                "2af0686d.edca5"
            ]
        ]
    },
    {
        "id": "53ea45ee.eda144",
        "type": "link out",
        "z": "224d605b.c4bd28",
        "name": "Stop",
        "links": [
            "15dca399.f6aa14"
        ],
        "x": 675,
        "y": 656,
        "wires": []
    },
    {
        "id": "2af0686d.edca5",
        "type": "change",
        "z": "224d605b.c4bd28",
        "name": "Stop",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "stop",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 656,
        "wires": [
            [
                "53ea45ee.eda144"
            ]
        ]
    },
    {
        "id": "db307fd9.72383",
        "type": "change",
        "z": "224d605b.c4bd28",
        "name": "next",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "next",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "next",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 576,
        "wires": [
            [
                "a86ea6df.2170a8"
            ]
        ]
    },
    {
        "id": "e14c2072.9719",
        "type": "change",
        "z": "224d605b.c4bd28",
        "name": "previous",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "previous",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 416,
        "wires": [
            [
                "8a62210b.718a"
            ]
        ]
    },
    {
        "id": "8a62210b.718a",
        "type": "link out",
        "z": "224d605b.c4bd28",
        "name": "to previous",
        "links": [
            "15dca399.f6aa14"
        ],
        "x": 675,
        "y": 416,
        "wires": []
    },
    {
        "id": "1f595443.16ff64",
        "type": "switch",
        "z": "224d605b.c4bd28",
        "name": "Flip",
        "property": "musicobj.action",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "resume",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "initilize",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "play",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "next",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "previous",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pause",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 350,
        "y": 496,
        "wires": [
            [
                "7c0c9248.2416ac"
            ],
            [
                "7c0c9248.2416ac"
            ],
            [
                "7c0c9248.2416ac"
            ],
            [
                "7c0c9248.2416ac"
            ],
            [
                "7c0c9248.2416ac"
            ],
            [
                "1026c9df.fbe996"
            ],
            [
                "1026c9df.fbe996"
            ]
        ]
    },
    {
        "id": "1026c9df.fbe996",
        "type": "change",
        "z": "224d605b.c4bd28",
        "name": "play (resume)",
        "rules": [
            {
                "t": "set",
                "p": "musicobj.action",
                "pt": "global",
                "to": "resume",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "resume",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 516,
        "wires": [
            [
                "290be014.9360c8"
            ]
        ]
    },
    {
        "id": "beb45749.39c7",
        "type": "delay",
        "z": "224d605b.c4bd28",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 576,
        "wires": [
            [
                "db307fd9.72383"
            ]
        ]
    },
    {
        "id": "a86ea6df.2170a8",
        "type": "link out",
        "z": "224d605b.c4bd28",
        "name": "to 'song end' check",
        "links": [
            "15dca399.f6aa14"
        ],
        "x": 675,
        "y": 576,
        "wires": []
    },
    {
        "id": "ecc9799d.720eb8",
        "type": "delay",
        "z": "224d605b.c4bd28",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 360,
        "y": 416,
        "wires": [
            [
                "e14c2072.9719"
            ]
        ]
    },
    {
        "id": "f3e0a773.8df6f8",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "This code handles the dashboard volume controls and uses and EXEC to call AMIXER",
        "info": "",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "d61cd8f6.1fae7",
        "type": "comment",
        "z": "224d605b.c4bd28",
        "name": "This code handles the dashboard player controls",
        "info": "",
        "x": 280,
        "y": 336,
        "wires": []
    },
    {
        "id": "2674ae89.89529a",
        "type": "inject",
        "z": "1e4469c9.e848f6",
        "name": "Press to shutdown the Pi",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 140,
        "wires": [
            [
                "91f984a1.8bd008"
            ]
        ]
    },
    {
        "id": "91f984a1.8bd008",
        "type": "exec",
        "z": "1e4469c9.e848f6",
        "command": "sudo poweroff",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "poweroff",
        "x": 460,
        "y": 140,
        "wires": [
            [
                "ad983b0.4bc1548"
            ],
            [
                "3451e19d.a7086e"
            ],
            [
                "e6e62a51.ce9f9"
            ]
        ]
    },
    {
        "id": "ad983b0.4bc1548",
        "type": "debug",
        "z": "1e4469c9.e848f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "3451e19d.a7086e",
        "type": "debug",
        "z": "1e4469c9.e848f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 140,
        "wires": []
    },
    {
        "id": "e6e62a51.ce9f9",
        "type": "debug",
        "z": "1e4469c9.e848f6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "2ae00eff.c1689a",
        "type": "ui_button",
        "z": "1e4469c9.e848f6",
        "name": "",
        "group": "acb5989b.bc373",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Power off Pi",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "91f984a1.8bd008"
            ]
        ]
    },
    {
        "id": "22d848f3.fa7d2",
        "type": "comment",
        "z": "1e4469c9.e848f6",
        "name": "Two ways to shutdown the Pi",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    }
]