node-red/pir_led_flows.json
[{"id":"4c218d37.917254","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"19388695.f78a39","type":"rpi-gpio in","z":"4c218d37.917254","name":"PIR","pin":"12","intype":"up","debounce":"25","read":true,"x":330,"y":300,"wires":[["7bcc1427.d74e8c"]]},{"id":"7a9b7ff7.55398","type":"rpi-gpio out","z":"4c218d37.917254","name":"RED LED","pin":"13","set":true,"level":"0","freq":"","out":"out","x":1220,"y":320,"wires":[]},{"id":"7bcc1427.d74e8c","type":"switch","z":"4c218d37.917254","name":"Node_1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":600,"y":300,"wires":[["c2b59776.b6a638"],["90c6a24b.1e448"]]},{"id":"c2b59776.b6a638","type":"change","z":"4c218d37.917254","name":"Node_1 is 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":260,"wires":[["7a9b7ff7.55398","41be7b04.b0a5d4"]]},{"id":"90c6a24b.1e448","type":"change","z":"4c218d37.917254","name":"Node_1 is 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":360,"wires":[["7a9b7ff7.55398"]]},{"id":"117be5ef.c8824a","type":"inject","z":"4c218d37.917254","name":"Neighbour PIR On","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":80,"wires":[["1b5f56e7.433ac9"]]},{"id":"f12245ae.4fee78","type":"rpi-gpio out","z":"4c218d37.917254","name":"BLUE LED","pin":"15","set":true,"level":"0","freq":"","out":"out","x":1150,"y":200,"wires":[]},{"id":"1b5f56e7.433ac9","type":"function","z":"4c218d37.917254","name":"","func":"global.set('neighbour_pir', msg.payload)\n","outputs":1,"noerr":0,"x":710,"y":60,"wires":[[]]},{"id":"41be7b04.b0a5d4","type":"function","z":"4c218d37.917254","name":"me and neighbour","func":"if (global.get(\"neighbour_pir\") == 1){\n    if (msg.payload == 1){\n        msg.payload = 1; \n    }\n}else{\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":200,"wires":[["f12245ae.4fee78","2b0629f6.bb4416"]]},{"id":"2b0629f6.bb4416","type":"debug","z":"4c218d37.917254","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1080,"y":100,"wires":[]}]